html {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url("sample-pattern.png");
  background-repeat: repeat;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 10px auto;
  padding: 40px auto;
  float: right;
}

li {
  color: blue;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 80px;
}

li:hover {
  color: blue;
}

  header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    padding: 0px;  
    margin: 0px;
  }

/* header {
  background-image: url("sample-logo.png");
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
} */

.judul {
  padding: 90px;
  text-align: center;
  font-family: impact;
}

.article-list {
  width: 70%;
  background-color: #fff;
  margin: auto;
}

.article-list article {
  border-bottom: 1px solid;
}

.footer {
  text-align: center;
  background-color: #353535;
  color: #fff;
  padding: 40px;
}